*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #4169E1;
    height: 150px;
    background-image: url(../pedamoda/logo.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: 2% 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 40px;
}

#header .lupa{
    background: none;
    border: none;
    font-size: 20px;
    text-align: right;
}

#header #barra_pesquisa {
    background-color: white;
    height: 50px;
    width: 350px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 40px;
    border: none;
    padding: 0px 15px;
}
#barra_pesquisa input{
    margin-top: 30px;
}


#header #barra_pesquisa input {
    background-color: transparent;
    border: none;
    outline: none;
}

#header #barra_pesquisa button img {
    width: 35px !important;
}

main{
    background-color: whitesmoke;
    min-height: calc(100dvh - 150px)
}

#botao{
    background-color: #149100;
    border: none;
    padding: 15px;
    border-radius: 15px;
    color: white;
    margin-right: 10vw;
    margin-top: 30px;
}

.input input{
    background:none;
    border: none;
    outline: none;
}
.modificar #nome input,
.modificar #preco input{
    text-align: center;
    margin-bottom: 20px;
}
.modificar #img input{
    text-align: center;
}
.modificar .ai{
    background:none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.532);
}

.modificar #nome{
    text-align: center;
}
.modificar #img{
    text-align: center;
    height: 200px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 250px;
    align-items: center;
    margin-left: 25px;
}
#des p{
    margin-top: 20px;
}
.modificar #cate,
.modificar #preco{
    margin-top: 20px;
}
.modificar #preco{
    margin-bottom: 20px;
    text-align: center;
}

#botoes{
    margin-left: 200px;
}

.wrapper {
    position: relative;
}

/* ------------------------------------------------------------------------------ */
.catalogItem,
.interfaceClass{
    /* position: absolute; */
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    margin: 0 auto;
}

.catalogItem p,
.catalogItem img {
    margin-bottom: 5px;
    max-width: 180px;
}

.catalogButtons {
    display: flex;
    gap: 20px;
}

.catalogButtons button {
    padding: 5px;
    border-radius: 6px;
    background: none;
}



.interfaceClass {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 0; left: 0;
}
/* -------------------------------------------------------------------------------- */


.modificar{
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#botaoAdicionar{
    display: flex;
    flex-direction: row-reverse;
}